{
    "Settings": {
        "logLevel": "info",
        "bootstrap": {
            "caUrl": "https://ca.corp.example.com:9000"
        },
        "trust": {
            "installRoots": true,
            "refreshInterval": "24h"
        }
    },
    "Provisioners": [
        {
            "name": "workstation-identity",
            "enabled": true,
            "issuer": {
                "mode": "step-ca",
                "provisioner": "device-identity"
            },
            "subject": {
                "commonName": "auto",
                "dnsNames": ["auto"],
                "ipAddresses": ["auto"]
            },
            "auth": {
                "type": "provisioner-password",
                "password": "CHANGE-ME-provisioner-secret"
            }
        },
        {
            "name": "web-api-tls",
            "enabled": true,
            "issuer": {
                "mode": "step-ca",
                "provisioner": "svc-web"
            },
            "subject": {
                "commonName": "auto",
                "dnsNames": ["auto"],
                "ipAddresses": ["auto"]
            },
            "key": {
                "algorithm": "EC",
                "curve": "P384"
            },
            "auth": {
                "type": "provisioner-password",
                "password": "CHANGE-ME-provisioner-secret"
            }
        }
    ]
}

